<ion-header>
  <div class="patient-card" *ngIf="patient">
    <div class="buttons">
      <button color="white" ion-button icon-only (click)="showOptions()" clear *ngIf="isFromHomepage">
        <ion-icon name='more'> </ion-icon>
      </button>
      <button color="white" ion-button icon-only navPop clear>
        <ion-icon name='checkmark'> </ion-icon>
      </button>
    </div>

    <div class="detail-content">
      <div class="patient-name"> {{ patient.name }} </div>

      <div class="personal-details">
        <div class="dob">
          <div class="details-title"> DOB </div>
          <div class="details-value"> {{ patient.dateOfBirth | date:'MM/dd/yyyy' }} </div>
        </div>
        <div class="age">
          <div class="details-title"> Age </div>
          <div class="details-value"> {{ moment().diff(patient.dateOfBirth, 'years') }} </div>
        </div>
        <div class="sex">
          <div class="details-title"> Sex </div>
          <div class="details-value"> {{ patient.sex }} </div>
        </div>
        <div class="medical-record-no">
          <div class="details-title"> MR No. </div>
          <div class="details-value"> {{ patient.medicalRecordNumber }} </div>
        </div>
      </div>

      <div class="hospital-details">
        <div class="admitting-doctor">
          <div class="details-title"> Admitting Doctor </div>
          <div class="details-value"> {{ patient.referringDoctor }} </div>
        </div>
        <div class="date-of-admission">
          <div class="details-title"> Date of Admission</div>
          <div class="details-value"> {{ moment(patient.dateOfAdmission).format('MM/DD/YYYY') }} </div>
        </div>
        <div class="room">
          <div class="details-title"> Room No </div>
          <div class="details-value"> {{ patient.room }} </div>
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content no-bounce>
  <!-- Entities -->
  <div class="entities-container">
    <ion-list *ngFor="let type of getAllEntities()" [ngClass]="(type=='notes'?'notes-list ':'')" [ngStyle]="(recordSettings[type]||{}).isEnabled?{}:{display:'none'}">
      <div *ngIf="type=='notes' && (recordSettings[type]||{}).isEnabled" class="notes-container">
        <ion-list-header>
          <strong>Notes <span *ngIf="items[type].length && getCurrentSlideIndex()>0"> ({{ getCurrentSlideIndex() }}/{{ items.notes.length }}) </span> </strong>
          <button color="secondary" ion-button item-right (tap)="openNotes()">
          <ion-icon name='md-add'></ion-icon>&nbsp;Add
        </button>
        </ion-list-header>
        <ion-slides #slides *ngIf="items.notes.length" centeredSlides="true" spaceBetween="-40">
          <ion-slide *ngFor="let note of items.notes; let i = index" class="note-card" [ngStyle]="getNotesBackgroundColor(i)">
            <div class="options-icon">
              <button ion-button icon-only (tap)="selectEditActions($event,note)">
          <ion-icon name='more'> </ion-icon>
        </button>
            </div>
            <div class="note-date">{{ note.date }}</div>
            <div class="note-title">{{ note.title }}</div>
            <div class="note-description">{{ note.description }}</div>
          </ion-slide>
        </ion-slides>
      </div>

      <div *ngIf="type!='notes' && (recordSettings[type]||{}).isEnabled">
        <ion-list-header>
          <strong>{{ getCategoryTitle(type) }}</strong>
          <button color="secondary" ion-button item-right (tap)="openEntitiesList(type)">
        <ion-icon name='md-add'></ion-icon>&nbsp;Add
      </button>
        </ion-list-header>
        <ion-item-sliding *ngFor="let group of _.keys(groupedItems[type])" #slidingItem>
          <ion-item class="item" #item>
            <ion-icon item-right name='arrow-back' class="swipe-indicator" (click)="showSlideOptions(slidingItem, item)"></ion-icon>
            <div class="group-date">{{ moment(group, 'YYYYMMDD').format('MM/DD/YYYY') }}</div>
            <div class="group-items">
              <div *ngFor="let item of _.keys(groupedItems[type][group])" [ngClass]="groupedItems[type][group][item].isBilled == 'true' ? 'item billed': 'item' ">
                <span class="codes" [ngStyle]="type=='em_codes'?{width:'auto'}:{}"> {{ groupedItems[type][group][item].code }} </span>
                <span class="item-name"> {{ groupedItems[type][group][item].name }} </span>
              </div>
            </div>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="openEntitiesList(type,groupedItems[type][group],true,slidingItem)">
            <ion-icon class="icon-options" name="md-create"></ion-icon>
            Edit
          </button>
            <button ion-button color="danger" (click)="deleteEntities(type,groupedItems[type][group], slidingItem)">
            <ion-icon class="icon-options" name="trash"></ion-icon>
            Remove
          </button>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer [hidden]="!this.showFooter || !isFromHomepage">
  <ion-toolbar class="background-white">
    <div class="footer-buttons">
      <button ion-button block outline color="light" class="margin-left btn-outline-primary" (tap)="deleteRecords()">
       Delete Records</button>
      <button ion-button block color="primary" class="margin-left" (tap)="bill()">
      Bill Patient</button>
    </div>
  </ion-toolbar>
</ion-footer>