hospital-list,
switch-hospital {
  .selected-hospital {
    background-color: #e4e4e4;
  }

  h3 {
    text-transform: uppercase;
  }

  ion-footer{
    box-shadow: 0 0 10px grey !important;
  }

  .save-button{
    margin: 0;
    border-radius: 0;
  }
}
