<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Patient Form
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="savePatient()" [disabled]="!this.form.valid || patient.sex!='M' && patient.sex!='F'" clear>
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-list>
    <form #patientForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary"> Room </ion-label>
        <ion-input [(ngModel)]="patient.room" name="room" type="text" #room="ngModel"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="input-label required-input"> Name </ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.name" name="name" type="text" #name="ngModel" required> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="input-label required-input"> Date of Birth </ion-label>
        <ion-datetime name="dateOfBirth" displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" [(ngModel)]="patient.dateOfBirth" [max]="maxDate" required> </ion-datetime>
      </ion-item>

      <ion-list radio-group [(ngModel)]="patient.sex" name="sex" class="radio-container">
        <ion-label stacked color="primary" class="radio-label required-input"> Sex </ion-label>
        <div class="checkbox-container">
          <ion-item class="radio-group checkbox">
            <ion-radio value="M" item-left></ion-radio>
            <ion-label>Male</ion-label>
          </ion-item>
          <ion-item class="radio-group checkbox">
            <ion-radio value="F" item-left></ion-radio>
            <ion-label>Female</ion-label>
          </ion-item>
        </div>
      </ion-list>

      <ion-item class="fin-number">
        <ion-label stacked color="primary" class="input-label required-input"> MR/FIN </ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.medicalRecordNumber" name="fin" type="text" #fin="ngModel" required> </ion-input>
        <ion-icon name='md-barcode' item-right (click)="launchBarcodeScanner()"> </ion-icon>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="input-label required-input"> Acct </ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.accountNumber" name="accountNumber" type="text" #accountNumber="ngModel" required> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary"> Reffering Doctor </ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="patient.referringDoctor" name="referringDoctor" type="text" #referredBy="ngModel"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary"> Date of Admission</ion-label>
        <ion-datetime name="dateOfAdmission" min="{{getMinAdmissionDate()}}" max="{{moment().format('')}}" displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" [(ngModel)]="patient.dateOfAdmission"> </ion-datetime>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
