<ion-header>
  <ion-navbar color="primary">
    <ion-title>Billing</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="!patients.length" (click)="toggleSelect()">{{isEdit ? 'Cancel' : 'Select'}}</button>
    </ion-buttons>
  </ion-navbar>
  <div class="sub-header-light" color="light">{{hospital.hospitalDetail.name}}</div>
</ion-header>

<ion-content>
  <no-results *ngIf="!patients.length" icon="ios-contact-outline" text="No Patients found"></no-results>
  <ion-list>
    <ion-item-sliding *ngFor="let patient of patients">
      <ion-item [navPush]="patientDetailPage" [navParams]="{ patient: patient, hospitalId: patient.hospitalId }">
      <!-- <ion-item> -->
        <ion-checkbox *ngIf="isEdit" (ionChange)="selectPatient(patient)"></ion-checkbox>
        <div item-content class="patient-item">
          <div class="patient-data">
            <div class="room" *ngIf="patient.room"> {{ patient.room }} </div>
            <div class="name"> {{ patient.name }} </div>
            <div class="details">
              <div class="fin"> {{ patient.medicalRecordNumber }} </div>
              <div class="dob"> DOB: {{ moment(patient.dateOfBirth).format('MM/DD/YYYY') }} </div>
            </div>
            <div class="followup">
              Follow up in
              <ion-select class="select-follow-up" [selectOptions]="selectOptions" [(ngModel)]="patient.followUpInWeeks" (ionChange)="changeFollowUp(patient)">
                <ion-option *ngFor="let followUp of selectFollowUpInWeeks">{{getFollowUpTitle(followUp)}}</ion-option>
              </ion-select>
            </div>
          </div>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only color="danger" (click)="removePatient(patient)">
          <ion-icon name="ios-trash-outline"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer *ngIf="patients.length">
  <br/>
  <ion-toolbar color="white">
    <ion-row>
      <button ion-button block outline color="light" class="margin-left  btn-outline-primary" (click)="bulkBilling('ACTIVE')">Bill</button>
      <button ion-button block color="primary" class="margin-left" (click)="bulkBilling('DISCHARGED')">Bill & Discharge</button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
