<ion-header>
  <ion-navbar color="light">
    <ion-buttons left>
      <button ion-button (tap)="viewCtrl.dismiss()" clear>
        <ion-icon name="close" class="modal-close-button"> </ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Hospital </ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveHospital()" [disabled]="addhospitalform.invalid || !hospital.name.length">
      Save
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-list-header class="light-background">Hospital</ion-list-header>
    <ion-item>
      <h5>{{hospital.shortname}}</h5>
      <p [innerHtml]="helper.getAddress(hospital)"></p>
      <!-- <ion-badge item-right class="badge-button-small" color="light" (click)="chooseLocalHospital()">Choose</ion-badge> -->
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header class="light-background">Email Settings</ion-list-header>
  <form #addhospitalform="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" item-right class="required-input"> To </ion-label>
        <ion-input [(ngModel)]="mailList.to" name="to" type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" item-right> Cc </ion-label>
        <ion-input [(ngModel)]="mailList.cc" name="cc" type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" item-right> Bcc </ion-label>
        <ion-input [(ngModel)]="mailList.bcc" name="bcc" type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
