<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
          <ion-icon name="ios-arrow-back-outline"></ion-icon> Back
        </button>
    </ion-buttons>
    <ion-title>
      Verify OTP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form #verifyPasswordForm="ngForm" novalidate>
      <h4>A verification code has been sent your email<br/> {{email}}</h4>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Enter OTP</ion-label>
        <ion-input autocomplete="on" autocorrect="on" [(ngModel)]="verificationCode" name="verificationCode" type="text" placeholder="OTP Code" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">New Password</ion-label>
        <ion-input autocomplete="off" type="password" autocorrect="on" [(ngModel)]="password" placeholder="Enter new password (min 6 characters)" name="password" required>
        </ion-input>
      </ion-item>
      <br>
      <button ion-button block (click)="onNext()" [disabled]="verifyPasswordForm.invalid || password.length < 6" type="submit" color="primary">Login</button>
    </form>
  </ion-list>
</ion-content>

<ion-footer *ngIf="showFooter">
  <ion-toolbar color="light">
    <button ion-button block color="primary" (click)="resendOtp()" clear>Resend OTP</button>
  </ion-toolbar>
</ion-footer>
