<ion-list *ngIf="hospitalLength">
  <ion-item-sliding *ngFor="let hospital of hospitals">
    <ion-item (click)="viewHospital(hospital.hospitalId, hospital.hospitalDetail)" *ngIf="hospital.hospitalDetail && hospital.isRemoved != 'true'">
      {{hospital.hospitalDetail.name}}
      <p [innerHtml]="helper.getAddress(hospital.hospitalDetail)"></p>
      <ion-icon name="ios-arrow-forward-outline" item-right></ion-icon>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button icon-only color="danger" (click)="removeHospital(hospital)">
            <ion-icon name="ios-trash-outline"></ion-icon>
            </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<no-results *ngIf="!hospitalLength" icon="ios-information-circle-outline" text="No Hospitals found"></no-results>
