<ion-header color="primary">
  <ion-navbar hideBackButton="true" hideBackButton="true" color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>InPatient Tracker</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (tap)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>

      <button ion-button icon-only (tap)="selectFilterBy($event)">
        <ion-icon name='options' class="options-button"> </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="options-toolbar">
    <ion-searchbar *ngIf="showSearchBar" [(ngModel)]="query" autocomplete="on" showCancelButton="true" placeholder="Search" (ionCancel)="toggleSearchBar()"></ion-searchbar>
    <ion-list-header class="hospital-name" color="light" (tap)="selectHospital()">
      <span *ngIf="currentHospital.hospitalId">  {{ this.currentHospital.shortname }} </span>
      <span *ngIf="!currentHospital.hospitalId">  Select/Add Hospital </span>
      <span *ngIf="(patients | search : query : searchKeys).length && !showSearchBar">
        ({{ selectedPatientsCount }}/{{ (patients | search : query : searchKeys).length  }})
      </span>
    </ion-list-header>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [ngClass]="showSearchBar ? 'has-subheader' : ''" id="patient-listing">
    <ion-item *ngFor="let patient of patients | search : query : searchKeys; let i = index" [ngClass]="getItemClass(patient)" #patients>
      <div item-content class="patient-item">
        <ion-checkbox color="secondary" [checked]="getItemClass(patient)=='selected'" (ionChange)="setLastUpdatedStatus(patient, $event, i)"> </ion-checkbox>
        <div class="patient-data" (tap)="viewPatientDetails(patient)">
          <div class="room" *ngIf="patient.room"> {{ patient.room }} </div>
          <h2> {{ patient.name }} </h2>
          <div class="details">
            <div class="fin"> {{ patient.medicalRecordNumber }} </div>
            <div class="dob"> DOB: {{ moment(patient.dateOfBirth).format('MM/DD/YYYY') }} </div>
          </div>
        </div>
      </div>
    </ion-item>
    <no-results *ngIf="!patients.length" icon="ios-contact-outline" text="No Patients found"></no-results>
    <ion-select [selectOptions]="selectOptions" [(ngModel)]="currentHospital.hospitalId" [hidden]="true" (ngModelChange)="changeHospital($event)">
      <ion-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalId">{{ hospital.hospitalDetail.shortname }}</ion-option>
    </ion-select>
  </ion-list>

  <ion-fab right bottom *ngIf="currentHospital.hospitalId">
    <button ion-fab icon-only color="primary" (click)="addPatient()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer id="footer-menu">
  <footer-menu></footer-menu>
</ion-footer>
