<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> Settings </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [navPush]="securityPage">
      <ion-icon name="ios-lock-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Security
    </ion-item>
    <ion-item [navPush]="specializationPage">
      <ion-icon name="ios-school-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Specialization
      <p>{{selectedSpec}}</p>
    </ion-item>
    <ion-item [navPush]="hospitalPage">
      <ion-icon name="ios-medkit-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
      Hospitals
    </ion-item>
    <!-- <ion-item>
      Manage subscriptions
      <ion-icon name="ios-cart-outline" item-left></ion-icon>
    </ion-item> -->
    <ion-item (tap)="timepicker.open()">
      Schedule Notifications:
      <div class="notification-time">Everyday {{moment(notificationTime, 'HH:mm').format("hh:mm A")}}</div>
      <ion-icon name="ios-notifications-outline" item-left></ion-icon>
      <ion-icon class="arrow-icon" name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item [hidden]='true'>
      <ion-datetime #dateTime displayFormat="hh mm " pickerFormat="hh mm A" [(ngModel)]="notificationTime" (ionChange)="setNotificationTime($event)"></ion-datetime>
    </ion-item>

    <div class="terms-conditions-container">
      <span (click)="viewTerms('terms')" class="button-clear-ios-primary">Terms and Conditions </span>
      and
      <span class="button-clear-ios-primary" (click)="viewTerms('policy')">Privacy Policy </span>
    </div>

  </ion-list>
</ion-content>
