<ion-menu [content]="mycontent">
  <ion-content>
    <ion-list>
      <ion-list-header color="light">
        Menu
      </ion-list-header>
      <div *ngIf="menuItems.length">
        <button ion-item menuClose *ngFor="let item of menuItems" (click)="openPage(item)">
          <ion-icon [name]="item.icon" item-left></ion-icon>
          <h2>{{item.title}}</h2>
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent swipeBackEnabled="false" main></ion-nav>