<ion-header>
  <div class="detail-content patient-info" *ngIf="patient" [ngClass]="isIOS?'patient-info-ios':''">
    <div class="button-close">
      <button color="white" ion-button icon-only navPop clear>
        <ion-icon name='close'> </ion-icon>
      </button>
    </div>
    <div class="patient-name"> {{ patient.name }} </div>
    <div class="personal-details">
      <div class="dob">
        <div class="details-title"> DOB </div>
        <div class="details-value"> {{ patient.dateOfBirth | date:'MM/dd/yyyy' }} </div>
      </div>
      <div class="age">
        <div class="details-title"> Age </div>
        <div class="details-value"> {{ moment().diff(patient.dateOfBirth, 'years') }} </div>
      </div>
      <div class="sex">
        <div class="details-title"> Sex </div>
        <div class="details-value"> {{ patient.sex }} </div>
      </div>
    </div>

    <div class="hospital-details">
      <div class="admitting-doctor">
        <div class="details-title"> Admitting Doctor </div>
        <div class="details-value"> {{ patient.referringDoctor }} </div>
      </div>
      <div class="date-of-admission">
        <div class="details-title"> Date of Admission </div>
        <div class="details-value"> {{ moment(patient.dateOfAdmission).format('MM/DD/YYYY') }} </div>
      </div>
    </div>
    <div class="hospital-details">
      <div class="followUp">
        <div class="details-title"> Follow Up in Weeks </div>
        <div class="details-value"> {{ patient.followUpInWeeks || 'None' }} </div>
      </div>
      <div class="room" *ngIf="patient.room">
        <div class=" room-title"> Room Number </div>
        <div class=" room-value"> {{ patient.room }} </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content no-bounce>
  <div class="sub-header-light" *ngIf="patient.dischargeDate" [ngClass]="isIOS?'sub-header-ios':''">
    Billed on {{moment(patient.dischargeDate).format('MMM DD, YYYY')}}
  </div>
  <div *ngIf="groupedItems && groupedItems['diagnosis'] && groupedItems['diagnosis'] && _.keys(groupedItems.diagnosis).length" class="item-list">
    <div>
      <div class="header">Diagnoses</div>
    </div>
    <div *ngFor="let key of _.keys(groupedItems.diagnosis)">
      <div class="billed-date">{{moment(key).format('MMM DD, YYYY')}}</div>
      <div>
        <div class="list-item" *ngFor="let diagonise of groupedItems.diagnosis[key]">
          <div class="title">{{diagonise.code}}</div>
          <div class="name">{{diagonise.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="groupedItems && groupedItems['em_code'] && _.keys(groupedItems['em_code']).length" class="item-list">
    <div>
      <div class="header">Visit Details</div>
    </div>
    <div *ngFor="let key of _.keys(groupedItems['em_code'])">
      <div class="billed-date">{{moment(key).format('MMM DD, YYYY')}}</div>
      <div>
        <div class="list-item" *ngFor="let em_code of groupedItems['em_code'][key]">
          <div class="title">{{em_code.code}}</div>
          <div class="name">{{em_code.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="groupedItems && groupedItems['procedures'] && _.keys(groupedItems['procedures']).length" class="item-list">
    <div>
      <div class="header">Procedures</div>
    </div>
    <div *ngFor="let key of _.keys(groupedItems['procedures'])">
      <div class="billed-date">{{moment(key).format('MMM DD, YYYY')}}</div>
      <div>
        <div class="list-item" *ngFor="let procedure of groupedItems['procedures'][key]">
          <div class="title">{{procedure.code}}</div>
          <div class="name">{{procedure.name}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="background-white">
    <ion-row>
      <ion-col col-50>
        <button ion-button block outline color="light" class="margin-left btn-outline-primary" (click)="cancelBilling()">
         Cancel Billing
       </button>
      </ion-col>

      <ion-col col-50>
        <button ion-button block color="primary" class="margin-left" (click)="mailReport(patient)">
        Mail Report
      </button>
      </ion-col>


    </ion-row>
  </ion-toolbar>
</ion-footer>