<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-buttons left>
      <button ion-button (click)="slideToPrev()" *ngIf="slides.getActiveIndex() > 0">
        Previous
      </button>
    </ion-buttons>
    <ion-title> Step {{slides.getActiveIndex()+1}}/3</ion-title>
    <ion-buttons end>
      <button ion-button (click)="slideToNext()" [disabled]="!isValid(userDetailForm)">
      Next
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-slides #slides>
    <!-- security-card slide -->
    <ion-slide>
      <h5>
          Thank you for choosing<br/>
          Inpatient Tracker.<br/>
          Follow these three simple steps to setup.</h5>
          <form #userDetailForm="ngForm" novalidate>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Name</ion-label>
              <ion-input [(ngModel)]="nickname" name="name" type="text" required>
              </ion-input>
            </ion-item>
          </form>
      <security-card (updateOptions)="updateOptions($event)"></security-card>
    </ion-slide>
    <!-- Specialization & hospital card -->
    <ion-slide>
      <h5>Choose your Specialization <br/> and Configure Hospitals.</h5>
      <specialization-card (updateOptions)="updateOptions($event)"></specialization-card>
      <br/>
      <ion-card>
        <ion-list-header color="light">
          Hospitals
          <ion-icon name="add" item-right (click)="hospitalCard.chooseHospital()"></ion-icon>
        </ion-list-header>
        <hospital-card (updateOptions)="updateOptions($event)"></hospital-card>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>
