page-entity-lookup {
  .header-md::after {
    background-image: unset;
  }

  .content-md .scroll-content {
    margin-top: 145px;
  }

  .header {
    box-shadow: 0 1px 7px #ddd !important;
  }

  .back-button {
    font-size: 1.1em;
    display: block;
  }

  .list-md .item .entity{
    padding-left: 15px !important;
  }

  .content-ios .scroll-content {
    margin-top: 155px;
  }

  /deep/ .notes-title {
    font-size: 1.1em !important;
    padding: 10px 0;
  }

  ion-title{
    text-transform: capitalize;
  }

  .edit-buttton {
    float: right;
    font-size: 1.5em;
  }

  .scroll-content {
    overflow-x: hidden;
    overflow-y: auto;
  }

  .time-button {
    margin: 0;
    width: 100%;
    border-radius: 0;
    font-weight: bold;
  }

  ion-buttons {
    margin: 0;
  }

  .entity,
  .entity-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  .entity-container {
    flex-direction: row;
    align-items: center;
    padding: 4px;
  }

  .entity {
    justify-content: space-between;
    flex-direction: column;
    color: #4c4c4c;
    line-height: 25px;

    .code {
      font-size: 0.85em;
    }

    .name {
      font-weight: 600;
    }
  }

  .searchbar {
    width: 100%;
    display: inline-flex;
  }

  .searchbar-container .toolbar-content {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .searchbar-ios {
    background-color: transperent !important;
    border-radius: 10px;
    height: 30px;
    min-height: 30px;
  }

  .searchbar-container .toolbar-md {
    min-height: unset;
  }

  ion-searchbar {
    background-color: transperent !important;
    border-radius: 10px;
    margin: 0 6px;
    height: 30px;
    min-height: 30px;

    .searchbar-input {
      color: black !important;
    }

    .searchbar-ios-cancel .button-inner,
    .searchbar-md-cancel .button-inner {
      color: red;
    }
  }

  .options {
    color: white;
    font-size: 2.2em;
    padding: 3px 10px;
  }

  .fav-icon {
    font-size: 2em;
    padding: 4px;
  }

  .item-cover {
    width: calc(100% - 40px);
  }

  .infinite-loading,
  .list {
    margin-bottom: 0 !important;
  }

  ion-infinite-scroll-content {
    min-height: 50px;
  }
}
