<ion-header>

  <ion-navbar>
    <ion-title>Add card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form action="/" method="post" id="payment-form"  #addCardForm="ngForm">

      <div class="form-row">
        <ion-item *ngIf="chargeCustomer">
          <ion-label stacked>Name</ion-label>
          <ion-input name="name" [(ngModel)]="user.name" required></ion-input>
        </ion-item>
        <ion-item *ngIf="chargeCustomer">
          <ion-label stacked>Email</ion-label>
          <ion-input name="email" [(ngModel)]="user.email" type="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required></ion-input>
        </ion-item>
        <div id="card-element"> -->
          <!-- a Stripe Element will be inserted here. -->
         </div>

        <!-- Used to display Element errors -->
         <div id="card-errors" role="alert"></div>
      </div>
    <button ion-button block [disabled]="addCardForm.invalid">Save Card</button>
    </form>
</ion-content>
