page-analytics,
page-billed-record {
  .date-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .scroll-content{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    padding-bottom: 70px !important;
    overflow-y: scroll !important;
  }

  .datetime {
    padding: 5px 0 !important;
  }

  .space-bottom {
    height: 14px;
    position: relative;
    top: 50px;
  }

  .label {
    font-size: 1.5rem !important;
    text-align: center;
  }

  .datetime-text {
    text-align: center;
    font-weight: 500;
  }

  .go-button {
    padding: 0 12px !important;
    margin: 0 15px !important;
    width: 90px !important;
    font-weight: bold;
    box-shadow: 1px 1px 3px rgba(87, 87, 87, 0.4);
  }

  .select {
    max-width: 60vw;
    position: relative;
  }

  .hospital-selection {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .hospital {
      font-size: 1.2em;
    }

    .select {
      font-size: 1.1em;
    }
  }

  .form-container {
    background-color: #EFEFEF;
    box-shadow: 1px 1px 10px #ccc;
    margin-bottom: 5px !important;
  }

  .item {
    background-color: transparent !important;
  }

  .patient-count {
    .title {
      color: black !important;
    }
  }

  .item-list {
    margin: 15px 12px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 10px #ddd;

    .header,
    .list-item {
      display: flex;
      justify-content: space-between;
      padding: 8px 10px;
      border-bottom: 1px solid #ddd;
    }

    .header {
      background-color: #ededed;
      font-weight: 500;
      font-size: 1.15em;
    }

    .list-item {
      font-size: 1.05em;
      background-color: white;

      .title {
        width: 30%;
        text-align: left;
        color: blue;
      }

      .name {
        width: 70%;
        text-align: left;
        overflow-x: hidden;
      }

      .badge {
        padding: 4px 8px;
        background-color: #eeebeb !important;
        font-size: 1.4rem;
        height: fit-content !important;
      }
    }
  }
}
