<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Account
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="edit()" clear>
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <h2 color="primary">Name</h2>
      <h2>{{user.name}}</h2>
    </ion-item>
    <ion-item>
      <h2 color="primary">E-mail</h2>
      <h2>{{ user.email }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
