<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="ios-arrow-back-outline"></ion-icon> Back
      </button>
    </ion-buttons>
    <ion-title>
      Create Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form #registerForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">E-mail</ion-label>
        <ion-input autocomplete="on" autocorrect="on" type="email" [(ngModel)]="registrationUser.email" name="email" pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Password</ion-label>
        <ion-input autocomplete="on" autocorrect="on" minlength="6" [(ngModel)]="registrationUser.password" name="password" type="password" placeholder="Passwords must be at least 6 characters" required>
        </ion-input>
      </ion-item>

      <div style="font-size:16px; padding:16px;">
        By Signing up you agree to the
        <span (click)="viewTerms('terms')" class="button-clear-ios-primary">Terms and Conditions </span> and
        <span class="button-clear-ios-primary" (click)="viewTerms('policy')">Privacy Policy </span>
      </div>

      <br>
      <button ion-button block (click)="onRegister()" [disabled]="registerForm.invalid" type="submit" color="primary">Register</button>

    </form>
  </ion-list>

</ion-content>
